<div class="demo-sidenav-area">

  <mat-sidenav-container>
    <mat-sidenav-content>
      <mat-toolbar *ngIf="showHeader && coverHeader">
        <span>Movie App</span>
        <span class="spacer"></span>
      </mat-toolbar>
      <!--<mat-toolbar class="m-toolbar">-->
        <!--<span class="m-toolbar-padding">Classification Groups</span>-->
        <!--<span class="spacer"></span>-->
        <!--<button mat-icon-button (click)="createClassification()">-->
          <!--<mat-icon class="">add</mat-icon>-->
        <!--</button>-->
        <!--<button mat-icon-button (click)="loadData()">-->
          <!--<mat-icon class="">refresh</mat-icon>-->
        <!--</button>-->
      <!--</mat-toolbar>-->
      <div class="demo-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
