<div *ngIf="!loading">
  <mat-card class="e-grid">
    <img [src]="'../../../assets/images/movie-covers/'+ movie.img" [alt]="movie.name" class="e-max-h--300"
         style="object-fit: contain">
    <div class="e-grid--column-center e-m--left-50">
      <mat-card-title class="e-m--top-15">{{movie.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="movie.rate">Rating: {{movie.rate}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="movie.description">Description: {{movie.description}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="movie.length">Length: {{movie.length}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="movie.length">Genres: <span *ngFor="let genre of movie.genres">{{ $last ? genre : genre + ', ' }} </span></mat-card-subtitle>
    </div>
  </mat-card>
</div>
